*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  border:1px solid blue;
}
html {
  width: 100%;
  height: 100%;
}
body {
  /* width: 100%; */
  /* 做手机页面的话可以直接用vh */
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-wrapper {
  padding: 20px;
  border:1px solid #666;
  min-width: 360px;
}
.form-wrapper .row {
  margin: 10px 0;
}
.form-wrapper .row > label {
  display: inline-block;
  min-width: 4em;
}
.form-wrapper .error {
  color: #f00;
  font-size: 12px;
}